{
  "branches": [
    "main",
    "next",
    {
      "name": "feature/setup-project",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer"
  ],
  "ci": true,
  "dryRun": true
}
